<div id="<%= dom_id employee_group %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Company:</strong>
    <%= employee_group.company_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= employee_group.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= employee_group.description %>
  </div>
</div>
