<% content_for :title, "Editing attendance month" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing attendance month</h1>

  <%= render "form", attendance_month: @attendance_month %>

  <%= link_to "Show this attendance month", @attendance_month, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to attendance months", attendance_months_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
