<div id="<%= dom_id price_period %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Price periodable:</strong>
    <%= price_period.price_periodable_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Period:</strong>
    <%= price_period.period_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= price_period.price_id %>
  </div>
</div>
